<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Agradecimiento por su Visita</title>
</head>
<body>
<p>Estimado {{responsibleName}}.</p>

<p>De parte del equipo de la Asociación Parque Cordillera queremos agradecerle por su visita a nuestros parques. Por tal
  motivo, le pedimos encarecidamente que responda brevemente la siguiente encuesta ubicada más abajo.</p>

<p>Enlace de encuesta: <a href="https://forms.gle/5krPbJx66F9y36LS9">https://forms.gle/5krPbJx66F9y36LS9</a></p>

<p>Su respuesta nos ayuda a tener una mejoría constante de nuestros servicios. Muchas gracias.</p>

<p>Departamento de Educación Ambiental Parque Cordillera</p>

<img src="cid:logo" alt="Logo Parque Cordillera" style="width:350px; height:auto; margin-top: 5px;" />

</body>
</html>
